extends layout 

block content
    h1 Books
    p 
      a.button(href='/books') Home
    p
      a.button(href='/books/new') Create New Book
    div.search-bar
      form(method="GET" action="/books/search")
        label.search-bar(for="searchCat")
          select(name="searchCat" id="searchCat" required) 
            option(value=null) Search By:
            option(value="title") Title 
            option(value="author") Author 
            option(value="genre") Genre 
            option(value="year") Year
          label(for="searchTerm" class="search-bar")
            input(type="text" name="searchTerm" id="searchTerm" placeholder="Search for books" required)
          button(type="submit")
            img(src='/images/search-icon.svg' alt="Search icon")
    if books
      div.main-container
        table
            thead
            tr
                th Title
                th Author
                th Genre
                th Year
            tbody
              each book in books 
                tr 
                    td 
                        a(href='books/' + book.id) #{book.title}
                    td #{book.author}
                    td #{book.genre}
                    td #{book.year}
        div.btn-container
          a(href=`/books?page=${page - 1}`)
            button(disabled=`${page}` == 1) Previous 
          p #{page} of #{numPages}
          a(href=`/books?page=${page + 1}`)
            button(disabled=`${page}` == `${numPages}`) Next
    else 
      h2 Sorry, no results match your search 
      a.button(href="/books") Back